html {
  scroll-behavior: smooth;
}
body {
  background-color: #141414;
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  padding-inline: 24px;
  padding-block: 116px;
}
