.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 579px;
  width: 327px;
  background-color: #1f1f1f;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  padding: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;

  &__image {
    height: 88px;
    width: 88px;
    border-radius: 100px;
    margin-bottom: 8px;
  }
}
